.content{
    width: 100%;

    display: flex;
    justify-content: center;
}

.container{
    width: 872px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;

    /*O atributo 'gap' permite inserir 34px de espaço
    entre os elementos, MENOS NO ÚLTIMO.*/
    gap: 34px;
}

.card{
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
}

.card img{
    width: 100px;
    height: 100px;
}

.template{
    background-color: #a7e9af;
    width: 117px;
    height: 146px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Para evitar problemas de compatibilidade dos navegadores,
    inserimos essa linha para que não seja mostrada as duas
    faces da carta (frente e verso) ao mesmo tempo. Assim,
    garantimos que quando formos clicar na carta, ela não
    apresente problemas. */
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 500ms;
    transform-style: preserve-3d;

    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.back{
    transform: rotateY(180deg);
}

.upturned-card .back{
    transform: rotateY(0deg);
}

.upturned-card .front{
    transform: rotateY(-180deg);
}

/* ******* Faz parte do jogo do mal ******* */
.darkcard{
    width: 117px;
    height: 146px;
    display: flex;
    justify-content: center;
}
.darkcard img{
    width: 117px;
    height: 146px;
}