.content{
    background-color: royalblue;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.container{
    background-color: greenyellow;
    width: 872px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: hotpink;
    width: 146px;
    /* height: 300px; */
    display: flex;
    justify-content: center;
}

.card img{
    width: 100px;
    height: 100px;
}

.template{
    width: 117px;
    height: 146px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Para evitar problemas de compatibilidade dos navegadores,
    a gente insere essa linha para q/ não seja mostrada as duas
    faces da carta (frente e verso) ao mesmo tempo. Assim,
    a gente garante q/ quando formos clicar na carta, ela não
    fique bugada.*/
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 500ms;
    transform-style: preserve-3d;

    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.back{
    transform: rotateY(180deg);
}

.upturned-card .back{
    transform: rotateY(0deg);
}

.upturned-card .front{
    transform: rotateY(-180deg);
}