header{
    background-color: red;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}