header{
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.kanban{
    display: flex;
    justify-content: center;
}

.centralizer{
    width: 90%;
    display: flex;
    justify-content: end;
}

.counter{
    font-size: 40px;
    color: royalblue;
}